extends pages/common/layout
block content
    h1 New Year Eve 
    .countdown-container 
        .days-c.countdown-el
            p#days.big-text 0
            span days
        .hours-c.countdown-el 
            p#hours.big-text 0
            span hours
        .mins-c.countdown-el 
            p#mins.big-text 0
            span mins
        .seconds-c.countdown-el 
            p#seconds.big-text 0
            span seconds

